<!-- phygital-itinerario.html.twig ITINERARI-->
<div class="cont phygital_itinerari">
  <div class="left left1">
    <button class="menu">&#9776; &nbsp; {{"MENU"|t}}</button>
    <img class="logo-left" alt="logo" src="/modules/custom/phygital/files/logo.png">
    <div class="contred">
      <div class="contwhite">
        <div class="titoloner">{{"SCEGLI<br>IL TUO<br>ITINERARIO"|t}}</div>

        <div class="t-right">
          <div class="fumetto">
            {{"Ciao!"|t}}<br>
            {{"Sono Niccolò Paganini"|t}}<br>{{"Questi sono gli itinerari che ho creato per te"|t}}
          </div>
          <br>
          <button class="butt1">{{"Iniziamo"|t}} &#10095;</button>
        </div>

      </div>
      <img class="paganini1" src="/modules/custom/phygital/files/paganini1.svg" alt="paganini">
    </div>
  </div>
  <div class="right" id="map">

  </div>

</div>


